@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --black-background-color: #000000;
    --jost-font-family: "Jost", sans-serif;
    --grey-border-color: #4d4d4d;
    --text-gray-color: #a3a3a3;
    --text-main-color: rgb(36, 36, 36);
}

.btn-main{
    background: var(--black-background-color);
    color: #fff;
    font-weight: 600;
    padding: 0.6rem 0.6rem;
    border-radius: 0;
}

input.form-control{
    padding: 0.6rem 0.6rem;
    border-radius: 0;
    border: 1px solid var(--black-background-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--black-background-color);
}

a{
    text-decoration: none;
    color: var(--black-background-color);
}