header{

    .header-top{
        background: var(--black-background-color);

        .doeiwhrkwdeor{

            ul{

                li{
                    display: inline-flex;
                    position: relative;

                    &:first-child:before{
                        display: none;
                    }

                    a{
                        padding: 1.2rem;
                        color: #fff;
                        font-family: var(--jost-font-family);
                        font-weight: 600;
                        font-size: 1.2rem;
                        text-decoration: none;                    

                        &.active{
                            background: #fff;
                            color: #000;                        
                        }
                    }

                    &:before{
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 2rem;
                        background: var(--grey-border-color);
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        } 
        
        .doewhruiwerwer_right{
            float: right;

            ul{

                li{
                    position: relative;
                    display: inline-flex;
                    color: #fff;
                    padding: 1.1rem 0.5rem;
                    cursor: pointer;

                    p{
                        font-size: 0.9rem;
                        text-transform: uppercase;
                    }
                    
                    i{
                        font-size: 1.3rem;
                    }

                    span{
                        background: #fff;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 1.5;
                        color: #000;
                        width: 1.3rem;
                        height: 1.3rem;
                        position: absolute;
                        right: -0.38rem;
                        top: 1rem;
                    }
                }
            }
        }
    }

    .header-main{

        .doiewhirw_left{

            img{
                width: auto;
            }
        }

        .doiewhirw_right{
            float: right;
            
            ul.header-menu{

                li{
                    display: inline-flex;

                    &:hover{

                        .diewhrkewr_dropdown{
                            visibility: visible;
                            z-index: 999999;
                            transform: initial;
                            opacity: 1;
                            transition: 0.3s ease-in-out;                            
                        }
                    }

                    a{
                        color: #000;
                        text-decoration: none;
                        font-size: 0.95rem;
                        font-weight: 500;
                        padding: 1.6rem 1.2rem !important; 
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }

            .diewhrkewr_dropdown{
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                top: 24%;                
                opacity: 0;
                visibility: hidden;
                z-index: -999;
                transform: translateY(1rem);
                transition: 0.3s ease-in-out;

                &.mega-dropdown-show{
                    opacity: 1;
                    visibility: visible;
                    z-index: 999999 !important;
                    transform: initial;
                    transition: 0.3s ease-in-out;
                }

                .doewjrlkjweuirhwer{
                    border-top: 1px solid #dcdcdc;
                }
                
                .dowiehrwer_left{

                    .fdpoewjrwer_inner{
                        
                        p{
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 0.95rem;
                        }

                        li{
                            display: block;   
                            margin-bottom: 0.5rem;                        
                            
                            a{
                                padding: 1.4rem 0 !important;                                
                                font-size: 0.95rem;
                                font-weight: 400;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}